<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>后台管理</title>
<include file="snadmin/Home/View/default/index/top.html" />
<div class="content container_12">
      <div class="ad-notif-info grid_12"><p><span>位置：<a href="/admin.php/Home/Index/main">首页</a></span>
    </p></div>    
  <div class="box grid_12">
        <div class="box-head"><h2>会员统计
        </div>
        <div class="box-content ">
<input type="button" class="button purple" value="系统开关"><if condition="$zt.zt eq '0'" ><input type="button" class="button yellow" value="开启">:<a href="/admin.php/Home/Index/gb"><input type="button" class="button black" value="关闭系统"></a>
      <else/><input type="button" class="button black" value="关闭">：<a href="/admin.php/Home/Index/kq"><input type="button" class="button yellow" value="开启系统"></a></if>
      <input type="button" class="button red " value="在线人数：{$zzbf}" />


 <input type="button" class="button  green" value="上次登入IP:<if condition="$scip.ip eq ''" >未登过<else/>{$scip.ip}({$scip.date})"></if> / <input type="button" class="button blue" value="本次登入IP:{$bcip.ip}({$bcip.date})">
        
    
        </div>

</div><div class="box grid_12">
        <div class="box-head"><span class="box-icon-24 fugue-24 counter"></span>
        <h2>注册统计</h2></div>
        <div class="box-content ad-stats">
          <include file="snadmin/Home/View/default/index/tj.html" />
        </div>
  </div>
  <div class="box grid_6">
        <div class="box-head"><span class="box-icon-24 fugue-24 counter"></span>
        <h2>可提现金额</h2>
</div>
        <div class="box-content ad-stats">
            <include file="snadmin/Home/View/default/index/tjcc.html" />

        </div>
  </div>
   
  
  
  <div class="box grid_6">
        <div class="box-head"><span class="box-icon-24 fugue-24 counter"></span>
        <h2>充值交易金额</h2></div>
        <div class="box-content ad-stats">
          <include file="snadmin/Home/View/default/index/txtj.html" />
        </div>
  </div>
  
</div>

<div class="footer">
  <p>Powered by 后台系统</p>
</div>



</body>
</html>