<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>会员系统-个人资料</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="/css/cloud-admin.css" >
	<link rel="stylesheet" type="text/css"  href="/css/themes/default.css" id="skin-switcher" >
	<link rel="stylesheet" type="text/css"  href="/css/responsive.css" >
	<!-- STYLESHEETS --><!--[if lt IE 9]><script src="/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- ANIMATE -->
	<link rel="stylesheet" type="text/css" href="/css/animate/css/animate.min.css" />
	<!-- DATE RANGE PICKER -->
	<link rel="stylesheet" type="text/css" href="/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
	<!-- TODO -->
	<link rel="stylesheet" type="text/css" href="/js/jquery-todo/css/styles.css" />
	<!-- FULL CALENDAR -->
	<link rel="stylesheet" type="text/css" href="/js/fullcalendar/fullcalendar.min.css" />
	<!-- GRITTER -->
	<link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css" />
	<!-- FONTS -->
	<!-- FONTS -->
</head>
<body>
	<!-- HEADER -->
<include file="User/Home/View/default/top2.html" />
		<div id="main-content">
<div class="container">
				<div class="row">
				  <div id="content" class="col-lg-12">
						<!-- PAGE HEADER-->
					<div class="row">
							<div class="col-sm-12">
								<div class="page-header">
									<!-- BREADCRUMBS -->
									<ul class="breadcrumb">
										<li>
											<i class="fa fa-home"></i>
											<a href="/">首页</a>
										- 个人资料</li>
									</ul>
									<!-- /BREADCRUMBS -->
									<div class="description"> 提示：投资有风险，请使用非关键资金参与！！！</div>
								</div>
							</div>
						</div>
						<!-- /PAGE HEADER -->
						<!-- DASHBOARD CONTENT --><!-- /DASHBOARD CONTENT -->
                 <div class="col-md-6">
										<!-- BASIC -->
				   <div class="box border primary ">
											<div class="box-title">
												<h4><i class="fa fa-bars"></i>账户详情</h4>
												<div class="tools hidden-xs">
													
													<a href="javascript:;" class="collapse">
														<i class="fa fa-chevron-up"></i>
													</a>
													<a href="javascript:;" class="remove">
														<i class="fa fa-times"></i>
													</a>
												</div>
											</div>
                                           <div class="box-body big">
											<form class="form-horizontal margin-none" id="loginForm" method="post" action="/Home/Info/xgzlcl.html" onSubmit="return checkform_profile1();">           
                            <div class="widget-body" style="text-align:left">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">真实姓名</label>
                                    <div class="col-md-8">
                                        <input type="text" require value="{$userData.ue_theme}" id="lid" class="form-control" name="lid" >
                                    </div>
                                </div>
                                                                <div class="form-group">
                                    <label class="col-md-4 control-label">手机号码</label>
                                    <div class="col-md-8">
                                        <input id="phone1" type="text" autocomplete="off" readonly value="{$userData.ue_phone}" style="width:200px;" id="" class="form-control" name="phone" >
										<input type="button" value="获取验证码"  onclick="getcode();"   style="margin-top:-35px;margin-left:200px;width:120px;" id="code" class="form-control" name="yanzheng"  />
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label class="col-md-4 control-label">验证码</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off"  id="old_code" class="form-control" required=""  name="" >
                                    </div>
                                </div>
								
                                 <div class="form-group">
                                    <label class="col-md-4 control-label">登录用户名</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off" value="{$userData.ue_account}" id="usernameq" class="form-control" name="" >
                                    </div>
                                </div>
                <div class="form-group">
                                    <label class="col-md-4 control-label">我的支付宝(<span style="color:#FF0000">*建议使用</span>)</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off" value="{$userData.zfb}" id="alipay" class="form-control" name="alipay">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">我的微信号</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off"  id="wechat" class="form-control" name="wechat" value="{$userData.weixin}">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-4 control-label">银行名称</label>
                                    <div class="col-md-8">
                    
                    <select size="1" id="bank_name" class="form-control" name="bank_name">
                      <option value="">请选择银行</option>
                      <option value="中国银行" <if condition="$userData.yhmc eq '中国银行'">selected="selected"</if>  >中国银行</option>
                      <option value="中国工商银行" <if condition="$userData.yhmc eq '中国工商银行'">selected="selected"</if> >中国工商银行</option>
                      <option value="中国农业银行" <if condition="$userData.yhmc eq '中国农业银行'">selected="selected"</if> >中国农业银行</option>
                      <option value="中国建设银行" <if condition="$userData.yhmc eq '中国建设银行'">selected="selected"</if> >中国建设银行</option>
                      <option value="中国光大银行" <if condition="$userData.yhmc eq '中国光大银行'">selected="selected"</if> >中国光大银行</option>
                      <option value="中国民生银行" <if condition="$userData.yhmc eq '中国民生银行'">selected="selected"</if> >中国民生银行</option>
                      <option value="中国华夏银行" <if condition="$userData.yhmc eq '中国华夏银行'">selected="selected"</if> >中国华夏银行</option>
                      <option value="中国中信银行" <if condition="$userData.yhmc eq '中国中信银行'">selected="selected"</if> >中国中信银行</option>
                      <option value="中国交通银行" <if condition="$userData.yhmc eq '中国交通银行'">selected="selected"</if> >中国交通银行</option>
                      <option value="中国兴业银行" <if condition="$userData.yhmc eq '中国兴业银行'">selected="selected"</if> >中国兴业银行</option>
                      <option value="上海浦东发展银行" <if condition="$userData.yhmc eq '上海浦东发展银行'">selected="selected"</if> >上海浦东发展银行</option>
                      <option value="中国招商银行" <if condition="$userData.yhmc eq '中国招商银行'">selected="selected"</if> >中国招商银行</option>
                      <option value="广东发展银行" <if condition="$userData.yhmc eq '广东发展银行'">selected="selected"</if> >广东发展银行</option>
                      <option value="农村信用社" <if condition="$userData.yhmc eq '农村信用社'">selected="selected"</if> >农村信用社</option>
                      <option value="中国邮政储蓄银行" <if condition="$userData.yhmc eq '中国邮政储蓄银行'">selected="selected"</if> >中国邮政储蓄银行</option>
                      <option value="其他银行" <if condition="$userData.yhmc eq '其他银行'">selected="selected"</if> >其他银行</option>
                    </select>
                    
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">比特币账户</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off" value="{$userData.btb}" id="btb" class="form-control" name="btb">
                                    </div>
                                </div>
								 <div class="form-group">
                                    <label class="col-md-4 control-label">收货地址</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off" value="{$userData.address}" id="address" class="form-control" name="address">
                                    </div>
                                </div>
								
								 <div class="form-group">
                                    <label class="col-md-4 control-label">银行账户号码</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off" value="{$userData.yhzh}" id="bank_number" class="form-control" name="bank_number">
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label class="col-md-4 control-label">收款人名称</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off"  id="shoukuan" class="form-control" name="shoukuan" value="{$userData.ue_theme}">
                                    </div>
                                </div>
								
								
                <!-- <div class="form-group">
                                    <label class="col-md-4 control-label">手机验证码</label>
                                    <div class="col-md-8">
                    <div class="input-group">
                      <input type="text" autocomplete="off" value="" id="phonetex1" class="form-control auto-ajax" name="phonetex1">
                     <span class="input-group-btn"> <a href="javascript:void(0);" onClick="sendsmspg(1);"><input name="sendsmsa"  id="sendsmsa" type="button" class="btn btn-primary  pemailcheck btn-success" value="获取短信验证码"></a></span>
                      
                      </div>
                  </div> -->
                 <!--  <div style="clear:both;"></div>
                  <div class="data-footer innerAll half text-right clearfix">
                  (如果无法发送，请点<a href="javascript:void(0);" onClick="sendsmspg(1);">语音验证</a>.)
                  
                  </div> -->
                               <!--  </div> -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label">二级密码</label>
                                    <div class="col-md-8">
                    <input id="trade_pwd22" type="password" class="form-control" autocomplete="off" name="trade_pwd2" required>
                  </div>
                                </div>
                            </div>
                            <footer class="data-footer innerAll half text-right clearfix">
                <font style="color:red;">官方提醒：需要手机验证码和二级密码输入都正确才能更改资料!</font>
                <br>
                                <button type="submit" class="btn btn-primary btn-sm" style="width:120px; font-size:16px" onclick="return check();"> 更 新 </button>
                            </footer>
                        </form>
                        <br>
										</div>
										<!-- /BASIC -->
									</div><!-- /CONTENT-->
                                    </div>
                                    <!---修改密码1-->
                                    <div class="col-md-6">
										<!-- BASIC -->
				   <div class="box border primary ">
											<div class="box-title">
												<h4><i class="fa fa-bars"></i>修改登录密码</h4>
												<div class="tools hidden-xs">
													
													<a href="javascript:;" class="collapse">
														<i class="fa fa-chevron-up"></i>
													</a>
													<a href="javascript:;" class="remove">
														<i class="fa fa-times"></i>
													</a>
												</div>
											</div>
					 <div class="box-body big">
					   <form class="form-horizontal margin-none" id="" method="post" action="{:U('Info/xgyjmmcl')}">                         
                            <div class="widget-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="firstname">原密码</label>
                                    <div class="col-md-8">
                                        <div class="controls">
                                            <input type="password" class="form-control" name="ymm" value="" required />
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="firstname">新密码</label>
                                    <div class="col-md-8">
                                        <div class="controls">
                                            <input type="password" class="form-control" name="xmm" value="" required />
                                        </div>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label class="col-md-4 control-label">手机号码</label>
                                    <div class="col-md-8">
                                        <input id="phone1" type="text" autocomplete="off" readonly value="{$userData.ue_phone}" style="width:200px;" id="" class="form-control" name="phone1" >
										<input type="button" value="获取验证码"  style="margin-top:-35px;margin-left:200px;width:120px;" id="code1" class="form-control" name="yanzheng"  />
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label class="col-md-4 control-label">验证码</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off"  id="old_code1" class="form-control" required=""  name="" >
                                    </div>
                                </div>
								
                                <div class="form-group">
                                    <label class="col-md-4 control-label">确认新密码</label>
                                    <div class="col-md-8"><input class="form-control" id="epassword2" name="xmmqr" value="" type="password" required ></div>
                                </div>
                            </div>
                            <footer class="data-footer innerAll half text-right clearfix">
                                <button type="submit" class="btn btn-primary btn-sm" style="width:120px; font-size:16px" onclick="return check1();">更   新</button>
                            </footer>
                       </form>

					 </div>
									  </div>
										<!-- /BASIC -->
									</div>
                                    <!--修改密码2-->
                                    <div class="col-md-6">
										<!-- BASIC -->
				   <div class="box border primary ">
											<div class="box-title">
												<h4><i class="fa fa-bars"></i>修改安全（二级）密码</h4>
												<div class="tools hidden-xs">
													
													<a href="javascript:;" class="collapse">
														<i class="fa fa-chevron-up"></i>
													</a>
													<a href="javascript:;" class="remove">
														<i class="fa fa-times"></i>
													</a>
												</div>
											</div>
                                             <div class="box-body big">
											<form class="form-horizontal margin-none" id="" method="post" action="{:U('Info/xgejmmcl')}">
                            <div class="widget-body">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="firstname">原二级密码</label>
                                    <div class="col-md-8">
                                        <div class="controls">
                                            <input type="password" class="form-control" name="yejmm" value="" required />
                                                                                    </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="firstname">新二级密码</label>
                                    <div class="col-md-8">
                                        <div class="controls">
                                            <input type="password" class="form-control" name="xejmm" value="" required />
                                        </div>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label class="col-md-4 control-label">手机号码</label>
                                    <div class="col-md-8">
                                        <input id="phone2" type="text" autocomplete="off" readonly value="{$userData.ue_phone}" style="width:200px;"  class="form-control" name="phone2" >
										<input type="button" value="获取验证码"   style="margin-top:-35px;margin-left:200px;width:120px;" id="code2" class="form-control" name="yanzheng"  />
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <label class="col-md-4 control-label">验证码</label>
                                    <div class="col-md-8">
                                        <input type="text" autocomplete="off"  id="old_code2" class="form-control" required=""  name="" >
                                    </div>
                                </div>
								
                                <div class="form-group">
                                    <label class="col-md-4 control-label">确认新二级密码</label>
                                    <div class="col-md-8"><input class="form-control" id="epassword2" name="xejmmqr" value="" type="password" required ></div>
                                </div>
                            </div>
                            <footer class="data-footer innerAll half text-right clearfix">
                                    <button type="submit" class="btn btn-primary btn-sm" style="width:120px; font-size:16px" onclick="return check2();">更   新</button>
                                    
                            </footer></br>
                        </form>
										</div>
										<!-- /BASIC -->
									</div>
				</div>
		  </div>
</div>
	</section>
<!--/PAGE -->

<script src="/js/jquery/jquery-2.0.3.min.js"></script>
	<!-- JQUERY UI-->
	<script src="/js/jquery-ui-1.10.3.custom//js/jquery-ui-1.10.3.custom.min.js"></script>
	<!-- BOOTSTRAP -->
	<script src="/bootstrap-dist/js/bootstrap.min.js"></script>
	
		
	<!-- DATE RANGE PICKER -->
	<script src="/js/bootstrap-daterangepicker/moment.min.js"></script>
	
	<script src="/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
	<!-- SLIMSCROLL -->
	<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
	<!-- SLIMSCROLL -->
	<script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script><script type="text/javascript" src="/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
	<!-- BLOCK UI -->
	<script type="text/javascript" src="/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
	<!-- SPARKLINES -->
	<script type="text/javascript" src="/js/sparklines/jquery.sparkline.min.js"></script>
	<!-- EASY PIE CHART -->
	<script src="/js/jquery-easing/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/js/easypiechart/jquery.easypiechart.min.js"></script>
	<!-- FLOT CHARTS -->
	<script src="/js/flot/jquery.flot.min.js"></script>
	<script src="/js/flot/jquery.flot.time.min.js"></script>

	<script src="/js/flot/jquery.flot.resize.min.js"></script>
    <script src="/js/flot/jquery.flot.pie.min.js"></script>
    <script src="/js/flot/jquery.flot.stack.min.js"></script>
    <script src="/js/flot/jquery.flot.crosshair.min.js"></script>
	<!-- TODO -->
	<script type="text/javascript" src="/js/jquery-todo/js/paddystodolist.js"></script>
	<!-- TIMEAGO -->
	<script type="text/javascript" src="/js/timeago/jquery.timeago.min.js"></script>
	<!-- FULL CALENDAR -->
	<script type="text/javascript" src="/js/fullcalendar/fullcalendar.min.js"></script>
	<!-- COOKIE -->
	<script type="text/javascript" src="/js/jQuery-Cookie/jquery.cookie.min.js"></script>
	<!-- GRITTER -->
	<script type="text/javascript" src="/js/gritter/js/jquery.gritter.min.js"></script>
    <script src="/js/script.js"></script>
    <script>
	function check(){
	                                           var result=true;
											   var phone=$("input[name='phone']").val();
											   if(phone == ''){
													 alert('手机号不能为空');
													  return false;
											   }
											   var reg=/^\d{11}$/;
											   if(reg.test(phone) == false){
											        alert('手机号格式不正确');
													  return false;
											   }
											   var old_code=$("#old_code").val();
												$.ajax({
													 async:false,
													 type: "post",
													 url: "/Home/Duanxin/yanzhengcode",
													 data: "old_code="+old_code+"&phone="+phone,
													 dataType: "json",
													 success: function(data){
														   if(data==1){
															   alert("手机验证码错误");
															   result=false;
														   }
														}
													 })
													 if(result == true){
													    
													 }else{
													    
														return false;
													 }
	}
	
	function check1(){
	                                           var result=true;
											   var phone=$("input[name='phone1']").val();
											   if(phone == ''){
													 alert('手机号不能为空');
													  return false;
											   }
											   var reg=/^\d{11}$/;
											   if(reg.test(phone) == false){
											        alert('手机号格式不正确');
													  return false;
											   }
											   var old_code=$("#old_code1").val();
												$.ajax({
													 async:false,
													 type: "post",
													 url: "/Home/Duanxin/yanzhengcode",
													 data: "old_code="+old_code+"&phone="+phone,
													 dataType: "json",
													 success: function(data){
														   if(data==1){
															   alert("手机验证码错误");
															   result=false;
														   }
														}
													 })
													 if(result == true){
													    
													 }else{
													    
														return false;
													 }
	}
	
	function check2(){
	                                           var result=true;
											   var phone=$("input[name='phone2']").val();
											   if(phone == ''){
													 alert('手机号不能为空');
													  return false;
											   }
											   var reg=/^\d{11}$/;
											   if(reg.test(phone) == false){
											        alert('手机号格式不正确');
													  return false;
											   }
											   var old_code=$("#old_code2").val();
												$.ajax({
													 async:false,
													 type: "post",
													 url: "/Home/Duanxin/yanzhengcode",
													 data: "old_code="+old_code+"&phone="+phone,
													 dataType: "json",
													 success: function(data){
														   if(data==1){
															   alert("手机验证码错误");
															   result=false;
														   }
														}
													 })
													 if(result == true){
													    
													 }else{
													    
														return false;
													 }
	}
	var wait=60;
									function time(o) {
									if (wait == 0) {
									document.getElementById(o).removeAttribute("disabled");	
									document.getElementById(o).value="免费获取验证码";
									wait = 60;
									} else {
									document.getElementById(o).setAttribute("disabled", true);
									document.getElementById(o).value="重新发送(" + wait + ")";
									wait--;
									setTimeout(function() {
									time(o)
									},
									1000)
									}
									}
									document.getElementById("code").onclick=function(){
									   time("code");
									  
									  var phone=$("input[name='phone']").val();
										   if(phone == ''){
													 alert('手机号不能为空');
													  return false;
											   }
											   var reg=/^\d{11}$/;
											   if(reg.test(phone) == false){
											        alert('手机号格式不正确');
													  return false;
											   }
										    $.ajax({
													 
													 type: "post",
													 url: "/Home/Duanxin/getcode",
													 data: "phone="+phone,
													 dataType: "json",
													 success: function(data){
													         
														   
														}
													 })
									  }
									  
									  function time(o) {
									if (wait == 0) {
									document.getElementById(o).removeAttribute("disabled");	
									document.getElementById(o).value="免费获取验证码";
									wait = 60;
									} else {
									document.getElementById(o).setAttribute("disabled", true);
									document.getElementById(o).value="重新发送(" + wait + ")";
									wait--;
									setTimeout(function() {
									time(o)
									},
									1000)
									}
									}
									document.getElementById("code1").onclick=function(){
									   time("code1");
									  
									  var phone=$("input[name='phone1']").val();
										   if(phone == ''){
													 alert('手机号不能为空');
													  return false;
											   }
											   var reg=/^\d{11}$/;
											   if(reg.test(phone) == false){
											        alert('手机号格式不正确');
													  return false;
											   }
										    $.ajax({
													 
													 type: "post",
													 url: "/Home/Duanxin/getcode",
													 data: "phone="+phone,
													 dataType: "json",
													 success: function(data){
													         
														   
														}
													 })
									  }
									  
									  
									  function time(o) {
									if (wait == 0) {
									document.getElementById(o).removeAttribute("disabled");	
									document.getElementById(o).value="免费获取验证码";
									wait = 60;
									} else {
									document.getElementById(o).setAttribute("disabled", true);
									document.getElementById(o).value="重新发送(" + wait + ")";
									wait--;
									setTimeout(function() {
									time(o)
									},
									1000)
									}
									}
									document.getElementById("code2").onclick=function(){
									   time("code2");
									  
									  var phone=$("input[name='phone2']").val();
										   if(phone == ''){
													 alert('手机号不能为空');
													  return false;
											   }
											   var reg=/^\d{11}$/;
											   if(reg.test(phone) == false){
											        alert('手机号格式不正确');
													  return false;
											   }
										    $.ajax({
													 
													 type: "post",
													 url: "/Home/Duanxin/getcode",
													 data: "phone="+phone,
													 dataType: "json",
													 success: function(data){
													         
														   
														}
													 })
									  }
		jQuery(document).ready(function() {		
			App.setPage("index");  //Set current page
			App.init(); //Initialise plugins and elements
		});
	</script>
	
	<script>
    function checkform_profile(){
    return true;
    }
  function checkform_profile1(){
    var alipay = $("#alipay").val();
    if(/.*[\u4e00-\u9fa5]+.*$/.test(alipay))
    {
      alert("支付宝帐号不能含有汉字！");
      return false;
    } 
    
    var wechat = $("#wechat").val();
    if(/.*[\u4e00-\u9fa5]+.*$/.test(wechat))
    {
      alert("微信号不能含有汉字！");
      return false;
    }
    
    var account = $("#bank_number").val();
    if(isNaN(account))  
    {
      alert("银行账户请输入数字！");  
      return false;  
    } 
    
    
    return true;
    }
  function checkform_profile2(){
    var account = $("#xmm").val();
    var accountqr = $("#xmmqr").val();
    var reg = /[a-zA-Z]+(?=[0-9]+)|[0-9]+(?=[a-zA-Z]+)/g; //要求有英文和数字
    if( account.length<6 ){
      alert("密码至少要6位！");
      return false;
    }
    if( account!== accountqr )
    {
      alert("密码输入不一致！");
      return false;
    }
    if( !reg.test(account) )
    {
      alert("密码要求包含字母和数字！");
      return false;
    }
    return true;
    }
  function checkform_profile3(){
    var account = $("#xejmm").val();
    var accountqr = $("#xejmmqr").val();
    var reg = /[a-zA-Z]+(?=[0-9]+)|[0-9]+(?=[a-zA-Z]+)/g; //要求有英文和数字
    if( account.length<6 ){
      alert("密码至少要6位！");
      return false;
    }
    if( account!== accountqr )
    {
      alert("密码输入不一致！");
      return false;
    }
    if( !reg.test(account) )
    {
      alert("密码要求包含字母和数字！");
      return false;
    }
    return true;
    }
  
  var intDiff =0;
  var intDiff1 =0;
    function sendsmsp(gi){
    if(intDiff>0){
      alert('验证短信已发送请稍后再试!');
      return ;
    }
      if(intDiff<=0){
      var $mobile = $('#phone').val();
    var $action = '/Home/Myuser/xmb';
    $.post($action,{dfzh:$mobile,gi:gi},function(data){
    if(data.sf == 0){
      alert(data.nr);
      document.getElementById('alert_phone').innerHTML = data.nr;
    }else{
      document.getElementById('alert_phone').innerHTML = data.nr;
      intDiff = parseInt(60);//倒计时总秒数量
      $("#sendsms").attr("disabled", true);
        var timer = window.setInterval(function(){        
        $("#sendsms").val(''+intDiff+'秒后重新获取');
        intDiff--;
        if(intDiff<0){
          clearInterval(timer);
          $("#sendsms").removeAttr("disabled");
          $("#sendsms").val('获取短信验证码');
        }
        }, 1000);
        var $action = '/Home/Info/getacticode';
      $.post($action,{dfzh:$mobile,gi:gi},function(data){
        if(data.sf == 0){
          alert(data.nr);
        }
      });
    }
    
    });
    
    
    
      
    
    
     }
    }
  
  
  
  function sendsmspg(gi){
    if(intDiff1>0){
      alert('验证短信已发送请稍后再试!');
      return ;
    }
      if(intDiff1<=0){
      intDiff1 = parseInt(60);//倒计时总秒数量
      $("#sendsmsa").attr("disabled", true);
        var timer = window.setInterval(function(){        
        $("#sendsmsa").val(''+intDiff1+'秒后重新获取');
        intDiff1--;
        if(intDiff1<0){
          clearInterval(timer);
          $("#sendsmsa").removeAttr("disabled");
          $("#sendsmsa").val('获取短信验证码');
        }
        }, 1000);
      var $mobile = '';
        var $action = '/Home/Info/getacticodea';
      $.post($action,{dfzh:$mobile,gi:gi},function(data){
        if(data.sf == 0){
          alert(data.nr);
        }
      });
     }
     
  }
$(function(){
   
   
   

    $('#sendsms').click(function() {
    sendsmsp(0);
    });
  $('#sendsmsa').click(function() {
    sendsmspg(0);
    });
  
  
  
  $('#ymm').val('');
  $('#xmm').val('');
  $('#xmmqr').val('');
  $('#yejmm').val('');
  $('#xejmm').val('');
  $('#xejmmqr').val('');
  $('#phonetex').val('');
  $('#phonetex1').val('');
  $('#trade_pwd22').val('');
  $('#trade_pwd21').val('');
  
  
  //$('#phone').val('未填');
  // $('#phone1').val('未填');
  //$('#lid').val('未填');
  //$('#usernameq').val('未填');
  
  // $('#alipay').val('未填');
  //$('#wechat').val('');
  //$('#bank_number').val('未填');
  
  
  
  
  
  
  
  
});


</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>