<style type="text/css">
    .scrolldiv{
    width:170px;
    height:300px;
    position:absolute;
    top:200px;
    background-color:#DDDDDD;
	 z-index:99999;
    }
	
	.scrolldiv1{
    width:180px;
    height:300px;
    position:absolute;
	 left: 20px;
    top:350px;
	 position:fixed;
	 z-index:99999;
    }
</style>



<div   class="scrolldiv1">

  
   <volist name="leftadv" id="left">
      <a href="{$left.link}"><img src="{$left.advimg}"  style="width:190px;height:150px;margin-left:-20px;" /></a>
   </volist>
</div>
 <script type="text/javascript">
 
   function baoming(){
          var username=$("input[name='username']").val();
		  
		  if($.trim(username) == '' || $.trim(username) =='请填写姓名'){
		     alert('姓名不能为空');
			 return false;
		  }
		  var phone=$("input[name='phone']").val();
		   if($.trim(phone) == ''  || $.trim(phone) =='请填写您的手机号码'){
		     alert('手机号不能为空');
			 return false;
		  }
		  var reg=/^\d{11}/;
		  if(reg.test(phone) == false){
		     alert('手机号格式不正确');
			 return false;
		  }
   }
   // var timer;
  //  $(function(){
        $(window).scroll(function(){
            clearInterval(timer);
            var topScroll=getScroll();
            var topDiv="100px";
            var top=topScroll+parseInt(topDiv);
            timer=setInterval(function(){
                    //$(".test").css("top", top+"px");
                     $(".scrolldiv").animate({"top":top},500);
					   $(".scrolldiv1").animate({"top":top},500);
            },500)
        });
		
	
    })
	
	
	
   // function getScroll(){
             var bodyTop = 0;  
             if (typeof window.pageYOffset != 'undefined') {  
                     bodyTop = window.pageYOffset;  
             } else if (typeof document.compatMode != 'undefined' && document.compatMode != 'BackCompat') {  
                     bodyTop = document.documentElement.scrollTop;  
             }  
             else if (typeof document.body != 'undefined') {  
                     bodyTop = document.body.scrollTop;  
             }  
             return bodyTop
    }
    </script>
