<volist name="topadv" id="top">
   <a href="{$top.link}"><img src="{$top.advimg}" style="width:100%;height:50px;" /></a>
</volist>
<header class="navbar navbar-static-top" id="top" role="header" >
    <div class="container">
	<div class="row">
	    <div class="col-lg-4">
		<div class="navbar-header">
		    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" style="font-size: 16px;">菜单 <i class="fa fa-bars" style="color:#003d74;font-size: 20px;"></i></button>
		  <a href="{:U('Index/index')}" class="navbar-brand">
		    <img src="/bitStyle/images/logo_white.png" alt="">
		  </a>
		</div>
	    </div>
	    <div class="col-lg-8">
		<div class="row" style="width:100%">
		    <div class="col-lg-12">
			<nav class="collapse navbar-collapse" id="head-navbar-collapse" role="main-navigation">
			    <ul class="nav navbar-nav">
				<li <if condition="$home">class="active"</if>>
				  <a href="/" class="glyphicons home" ><i></i>首页</a>
				</li>
				<li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >用户中心<span class="caret"></span></a>
				    <ul class="dropdown-menu" role="menu">
					<li><a href="{:U('Info/index')}"><i></i>个人资料</a></li>
					<li><a href="{:U('Info/pin')}"><i></i>激活码</a></li>
				    <li><a href="{:U('Info/pai')}"><i></i>排单币</a></li>
					<li><a href="{:U('Myuser/index')}"><i></i>我的团队</a></li>
					<li><a href="{:U('Myuser/xzzh')}"><i></i>团队记录</a></li>
				    </ul>
				</li>
				<li>
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >财务中心<span class="caret"></span></a>
				    <ul class="dropdown-menu" role="menu">
					<li><a href="{:U('Info/rwhistory')}">我的互助钱包</a></li>
					<li><a href="{:U('Index/pdList')}">提供帮助记录</a></li>
					<li><a href="{:U('Index/gdList')}">接受帮助记录</a></li>
					<li><a href="{:U('Info/cwhistory')}">奖金钱包记录</a></li>
					<li><a href="{:U('Info/nwhistory')}">总账记录</a></li>
				    </ul>
				</li>
				<!--<li ><a href="{:U('Myuser/xzzh')}">提供与得到记录</a></li>-->
			  <li <if condition="$reg">class="active"</if>>
			    <a href="{:U('Index/news')}" class="glyphicons home" ><i></i>新闻公告<if condition="$news_count"><span class="badge">{$news_count}</span></if></a>
			  </li>
              
			   <li>
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >抽奖中心<span class="caret"></span></a>
				    <ul class="dropdown-menu" role="menu">
						<li><a href="{:U('Award/index')}">抽奖</a></li>
						
				    </ul>
				</li>
                
				<li>
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >在线客服<span class="caret"></span></a>
				    <ul class="dropdown-menu" role="menu">
						<li><a href="{:U('Kefu/index')}">在线客服</a></li>
						
				    </ul>
				</li>
				
				<li>
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >抢单中心<span class="caret"></span></a>
				    <ul class="dropdown-menu" role="menu">
						<li><a href="{:U('Order/orderList')}">抢单列表</a></li>
						
				    </ul>
				</li>
				
				<li>
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >商城中心<span class="caret"></span></a>
				    <ul class="dropdown-menu" role="menu">
						<li><a href="{:U('Good/lists')}">商城产品</a></li>
						<li><a href="{:U('Good/orderList')}">订单管理</a></li>
				    </ul>
				</li>

			  <li    <if condition="$reg">class="active"</if>>
			    <a href="{:U('Index/reg')}" class="glyphicons home" ><i></i>注册新会员<span class="badge"></span></a>
			  </li>
				   <li><a  href="{:U('Myuser/task')}" class="title">获得排单币</a></li>
			  </ul>
			</nav>
		    </div>
		    <div class="col-lg-12">
			<ul class="nav navbar-nav navbar-right" role="sub-navigation">
        <li class="dropdown" id="lang_nav">
          <a href="/" class="" data-toggle="dropdown">
            <span class="language-sel-zh-CN fa-lang">
            </span>
            <span class="language-text hidden-xs">
              简体中文
            </span>
          </a>
          <ul class="dropdown-menu language-box allbox-shadow" role="languageMenu">
              <li>
              <a href="{:U('Index/index')}">
                <span class="language-sel-zh-CN">
                </span>
                简体中文
              </a>
            </li>
             <li>
              <a href="#">
                <span class="language-sel-en">
                </span>
                English
              </a>
            </li>  
             <li>
              <a href="#">
                <span class="language-sel-ko-KR">
                </span>
                 한국어
              </a>
            </li>           
          </ul>
        </li>
        <li class="dropdown" id="wallet_nav">
          <a href="#" class="" data-toggle="dropdown">
            <span class="glyphicon glyphicon-usd">
            </span>
            <span class="hidden-xs">
              我的钱包
            </span>
          </a>
          <ul class="walletNav dropdown-menu allbox-shadow clearfix">
            <li class="clearfix"><a href="{:U('Info/rwhistory')}" >
              <img src="/bitStyle/images/e-wallet.png" alt="" class="img">
              <span class="wallet2">
                <span class="tilte-w">
                  互助钱包
                </span>
                <strong class="wallet-color">
                  {$userData.ue_money}RMB
                </strong>
              </span></a>
            </li>
            <li class="clearfix"><a href="{:U('Info/cwhistory')}">
              <img src="/bitStyle/images/r-wallet.png" alt="" class="img">
              <span class="wallet2">
                经理奖钱包
                <br>
                <strong class="wallet-color">
                  {$userData.jl_he}RMB
                </strong>
              </span></a>
            </li>
            <li class="clearfix"><a href="{:U('Info/cwhistory')}">
              <img src="/bitStyle/images/n-wallet.png" alt="" class="img">
              <span class="wallet2">
                推荐奖钱包
                <br>
                <strong class="wallet-color">
                  {$userData.tj_he}RMB
                </strong>
              </span></a>
            </li>
            <li class="clearfix"><a href="{:U('Info/pin')}">
              <img src="/bitStyle/images/i-wallet.png" alt="" class="img">
              <span class="wallet2">
               激活码数量
                <br>
                <strong class="wallet-color">
                 <if condition="$pin_zs"> {$pin_zs}<else/>0</if>
                </strong>
              </span></a>
            </li>
	    <li class="clearfix"><a href="{:U('Info/pai')}">
              <img src="/bitStyle/images/i-wallet.png" alt="" class="img">
              <span class="wallet2">
               排单币数量
                <br>
                <strong class="wallet-color">
                 <if condition="$userData.paidan neq 0"> {$userData.paidan}<else/>0</if>
                </strong>
              </span></a>
            </li>
          </ul>
        </li>
        <li class="dropdown" id="profile_nav">
          <a href="" class="top-button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user top-button">
            </span>
            <span class="hidden-xs">
              我的档案
            </span>
          </a>
          <ul class="dropdown-menu allbox-shadow pull-right" id="user-details">
            <li class="clearfix">
              <span class="details" style="color:#FFFFFF">
                编号
              </span>
              <span class="count" style="color:#FFFF00">
                {$userData['ue_id']|md5=###|substr=###,0,10}
              </span>
            </li>
            <li class="clearfix">
              <span class="details"  style="color:#FFFFFF">
                账号
              </span>
              <span class="count" style="color:#FFFF00">
                {$userData['ue_account']}
              </span>
            </li>
            <li class="clearfix">
              <span class="details" style="color:#FFFFFF">
                手机号
              </span>
              <span class="count" style="color:#FFFF00">
               {$userData['ue_phone']}
              </span>
            </li>
            <li class="clearfix">
              <span class="details" style="color:#FFFFFF">
                钱包
              </span>
              <span class="count" style="color:#FFFF00">
                
                  {$userData['ue_money']}
               
                <script data-cfhash='f9e31' type="text/javascript">
                  function jsCopy(){
                    var e=document.getElementById("copy-num");//对象是copy-num1
                    e.select(); //选择对象
                    document.execCommand("Copy"); //执行浏览器复制命令
                    alert("复制成功");
                }
                  /* <![CDATA[ */
                  !
                  function() {
                    try {
                      var t = "currentScript" in document ? document.currentScript: function() {
                        for (var t = document.getElementsByTagName("script"), e = t.length; e--;) if (t[e].getAttribute("data-cfhash")) return t[e]
                      } ();
                      if (t && t.previousSibling) {
                        var e, r, n, i, c = t.previousSibling,
                        a = c.getAttribute("data-cfemail");
                        if (a) {
                          for (e = "", r = parseInt(a.substr(0, 2), 16), n = 2; a.length - n; n += 2) i = parseInt(a.substr(n, 2), 16) ^ r,
                          e += String.fromCharCode(i);
                          e = document.createTextNode(e),
                          c.parentNode.replaceChild(e, c)
                        }
                        t.parentNode.removeChild(t);
                      }
                    } catch(u) {}
                  } ()
                  /* ]]> */
                  
                </script>
              </span>
            </li>
          </ul>
        </li>
        <li>
          <a href="{:U('Myuser/lxwm')}">
            <span class="glyphicon glyphicon-envelope">
            </span>
            <span class="hidden-xs">
              联系
            </span>
            <if condition="$msg_count"><span class="badge">{$msg_count}</span></if>
          </a>
        </li>
        <li>
          <a href="{:U('Reg/logout')}">
            <span class="hidden-xs">
              退出
            </span>
            <span class="glyphicon glyphicon-share-alt">
            </span>
          </a>
        </li>
      </ul>
		    </div>
		</div>
	    </div>
	</div>
      
	

	<!--<div id="tuiguang-link" style="height: 45px;">
	  <div class="row">
	      <div class="col-md-12">
		  <div class="input-group">
  <span class="input-group-addon">推广</span>
  <input type="text" class="form-control" id="copy-num" value="{$tgurl}">
  <span class="input-group-addon" onclick="jsCopy()">复制</span>
</div>
	      </div>
	  </div>
      </div>-->
      
      
    </div>
  </header>
  <script src="/cssmmm/jquery.countdown.js"></script>