
<script src="/cssmmm/jquery.zclip.min.js"></script>

<div id="header">
    <div class="color-line">
    </div>
    <div id="logo" class="light-version" >
<table width="1100" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="left"><img src="/assets/img/logohome.png" style="margin-top:-8px;"></td>
    <td>&nbsp;</td>
    <td align="right"><dd>
    <ul > 
        <li><a href="/" class="title">首页</a></li>
        <li><a href="/Home/Index/reg/" class="title">注册新会员</a></li>
        <li><a  href="/Home/Info/pin" class="title">激活码管理</a></li>
        <li><a href="/Home/Index/news/" class="title">新闻公告</a></li>
       
	    <li><a href="#">排单币管理 &nbsp;⇓</a>
          <ul>
          <li><a href="/Home/Info/pai">我的排单币</a></li>
          <li><a href="/Home/Myuser/task/">获得排单币</a></li>			
          </ul>
        </li>

        <li><a href="#">伞下会员&nbsp;⇓</a>
            <ul>
          <li><a href="/Home/Myuser/team/">会员关系网</a></li>
          <li><a href="/Home/Myuser/">推 荐 列 表</a></li>
          <li><a href="/Home/Myuser/xzzh/">我的用户群</a></li>					
            </ul>
        </li>
        <li><a href="#">账号管理 &nbsp;⇓</a>
            <ul>
                <li><a href="/Home/Info/">个人资料</a></li>
                <li><a href="/Home/Info/xgmm/">更改密码</a></li>
            </ul>
        </li>
        <li><a href="/Home/Info/cwmx" class="title">财务管理</a></li>
        <li><a href="#">在线客服&nbsp;⇓</a>
            <ul>
          <li><a href="http://news.ybichina.com/a/guanyuwomen/lianxiwomen/" target="_blank">联系YBI客服</a></li>

          <li><a href="/Home/Myuser/lxwm/" class="title">在线留言</a></li>
        				
            </ul>
        </li>
        <li></li>
        <li><a href="{:U('/Home/Login/logout')}" class="title">退出</a></li>
    </ul>
</dd></td>
  </tr>
</table>


</div>
<div class="small-logo" id="headertop" style="margin-top:-8px; padding:0px;">
           
<table width="100%"  border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="60" style="text-align:left; padding-left:10px;"><img src="/assets/img/logohome.png" ></td>
    <td></td>
    <td width="95" style=" text-align:right"><dd>
    <ul>
        <li  style="right:0px;"><a href="#" style="font-size:18px; float:'微软雅黑'; font-weight:bolder">导航&nbsp;+</a>
        
   <ul style="width:160px; right:0px;">          
        <li><a href="/" class="title">首页</a></li>
        <li><a href="/Home/Index/reg/" class="title">注册新会员</a></li>
        <li><a  href="/Home/Info/pin" class="title">激 活 码</a></li>
        <li><a href="/Home/Index/news/" class="title">新闻公告</a></li>

       <li><a href="#">&lt;&lt; 排单币&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <ul style=" width:160px; left:-120px; float:right">
          <li><a href="/Home/Info/pai">我的排单币</a></li>
          <li><a href="/Home/Myuser/task/">获得排单币</a></li>			
          </ul>
        </li>

        <li><a href="#">&lt;&lt; 伞下会员&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <ul style=" width:160px; left:-120px; float:right">
          <li><a href="/Home/Myuser/team/">会员关系网</a></li>
          <li><a href="/Home/Myuser/">推 荐 列 表</a></li>
          <li><a href="/Home/Myuser/xzzh/">我的用户群</a></li>					
          </ul>
        </li>
        <li><a href="#">&lt;&lt; 账号管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <ul style=" width:160px; left:-120px;  float:right">
                <li><a href="/Home/Info/">个人资料</a></li>
                <li><a href="/Home/Info/xgmm/">更改密码</a></li>
            </ul>
        </li>
        <li ><a href="/Home/Info/cwmx" class="title">财务管理</a></li>
        <li><a href="#">&lt;&lt; 在线客服&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <ul style=" width:160px; left:-120px;  top:-86px; float:right">
          <li><a href="http://news.ybichina.com/a/guanyuwomen/lianxiwomen/" target="_blank">联系客服</a></li>
          <li><a href="/Home/Myuser/lxwm/" class="title">在线留言</a></li>
            </ul>
        </li>
       <li><a href="{:U('/Home/Login/logout')}" class="title">退出</a></li>
        				
            </ul>
        </li>
        
    </ul>
</dd></td>
  </tr>
</table>

</div>
</div>
